@import url('https://fonts.googleapis.com/css?family=Montserrat|Open+Sans');

.About p {
  /* color:black;   */

}
.About {
  /* width: 100%; */
}
#banner {
  background-image: url('../images/2.jpg');
  background-repeat:no-repeat;
  background-size: contain;
  /* background-size:stretch; */
  margin-top: 20px;
  width: 100%;
  height: 410px;
  display: flex;
  /* text-align: right; */
  /* justify-content: flex-end; */
    display: flex;
  align-items: center;
  justify-content: flex-end;

  /* justify-content: center; */

  /* ; */
}
#boxContent {
  margin-right: 5%;
  vertical-align: right;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30%;
  height:30%;
  background-color: white;
  background: rgba(225,225,225,0.2);
  vertical-align: right;
  border-radius: 2px;
  border: 1px solid grey;

}

#boxContent p {
  font-family: 'Open Sans', sans-serif;
  font-weight: bold;
  font-size: 18px;
  color: white;
}
#boxContent p::first-line {
  text-transform: capitalize;
}


#mainDiv {
  /* padding-left: 20px; */
  padding-top: 40px;
  width: 100%;
  height: 50px;
  display:flex;
  justify-content: center;
}
#mainDiv1 {
  /* padding-left: 20px; */
  padding-top: 20px;
  width: 80%;
  height: 50px;
  display:flex;
  justify-content: space-between;
}
#div1 {
  height: 2em;
  width: 23em;
  /* background-color: white; */
}
#div1 p {
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  text-transform: capitalize;
}
#div2 p {
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  text-transform: capitalize;
}
#div3 p {
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  text-transform: capitalize;
}
#div1  a {
  font-size: 50px;
  text-decoration: none;
  color: #D64C2F;
}
#div2  a {
  font-size: 50px;
  text-decoration: none;
    color: #62ADBD;
}
#div3  a {
  font-size: 50px;
  text-decoration: none;
    color: #D64C2F;
}

#div2 {
  height: 2em;
  width: 23em;


}
#div3 {
  height: 2em;
  width: 23em;

}

#secmainDiv {
  padding-top: 5em;
  width: 100%;
  display:flex;
  justify-content:center;
  margin-bottom: 20em;
}
#secmainDiv1 {
  padding-top: 3em;
  width: 80%;
  height: 20px;
  display:flex;
  justify-content:space-between;
}

#div4 {
  height: 10em;
  width: 35em;

}
#div4 p{
  text-align: left;
}
#div5 {
  height: 20em;
  width: 30em;
  /* background-color: #ccc; */
  background-image: url('../images/3.jpg');
  background-size: contain;
  background-repeat:no-repeat;
  border-radius: 10px;
}
