
@import url('https://fonts.googleapis.com/css?family=Montserrat|Open+Sans');
.Allprofiles img {
  height: 100px;
  width: 100px;

}
.Profiles11 {
  display: flex;
  width: 100%;
  justify-content: center;
}
.Allprofilespage {

  width: 100%;
  display: inline-block;
  display: flex;
  justify-content: center;
}
.descUser p {
  width: 55%;
}
.Allprofiles {
  width: 75%;
  display: flex;
  justify-content: left;
}
.Allprofilespage  p {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
}
.Profiles {
  margin-top: 50px;
  width: 100%;
  display: inline-block;
}
.sProfiles {

  margin-top: 50px;
  width: 85%;
  display: inline-block;
}
.userDetails {
  width: 50%;
  display: inline-block;
  text-align: left;
  vertical-align: top;
}
.userDetails  img {
  height: 150px;
  width: 150px;
  border-radius: 10px;
}
.UDET {
  display: inline-block;
}
.UDET img {
  height: 150px;
  width: 150px;
  border-radius: 10px;
}
.UDET p {
  display: inline-block;
  padding-left: 10px;
  font-size: 22px;
}
.socialMedia {
  width:30%;
  display: inline-block;
  display: flex;
  justify-content: space-between;

}
.socialMedia a {
  font-size: 22px;
  text-decoration: none;

  color:#5aa8b4;
}
.socialMedia a:hover {
  color:#dc442d;
}
.gitDetails {
  width: 40%;
  display:inline-block;

}
.repos ul a {
  text-decoration: none;
  color:#5aa8b4;
  font-family: 'Open Sans', sans-serif;
}
.repos ul a:hover {
color:#dc442d;
}


.repos ul  {
  text-decoration: none;
  list-style: none;

}
.Profiles p {
  font-size: 16px;
  font-family: 'Open Sans', sans-serif;
}
.Allprofiles {
  text-align: left;
  /* padding: 50px; */
  /* width: 50%; */
  vertical-align: top;
  display: inline-block;
  font-family: 'Open Sans', sans-serif;
  /* display: inline; */
}
.searchInfo {
  /* border: 1px solid grey;
  padding: 0; */
}
.searchText {
  margin-right: 20px;
}
.map {
  /* width: 30%; */
  /* width: 100%; */
}
.AllprofilesTop {
    position: relative;
    width:100%;
    text-align: left;
}
.Allmaps {
  text-align: center;
  width: 40%;
  position: fixed;
  /* overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap; */
  height: 77vh;
  right: 0;
  margin-right: 20px;
  display: inline-block;
}
#userloc-field {

}

/* styles for '...' */
.block-with-text {
  /* hide text if it more than N lines  */
  overflow: hidden;
  /* for set '...' in absolute position */
  position: relative;
  /* use this value to count block height */
  line-height: 1.2em;
  /* max-height = line-height (1.2) * lines max number (3) */
  max-height: 3.6em;
  /* fix problem when last visible word doesn't adjoin right side  */
  text-align: justify;
  /* place for '...' */
  margin-right: -1em;
  padding-right: 1em;
}
/* create the ... */
.block-with-text:before {
  /* points in the end */
  content: '...';
  /* absolute position */
  position: absolute;
  /* set position to right bottom corner of block */
  right: 0;
  bottom: 0;
}
/* hide ... if we have text, which is less than or equal to max lines */
.block-with-text:after {
  /* points in the end */
  content: '';
  /* absolute position */
  position: absolute;
  /* set position to right bottom corner of text */
  right: 0;
  /* set width and height */
  width: 1em;
  height: 1em;
  margin-top: 0.2em;
  /* bg color = bg color under block */
  background: white;
}
.work {
  margin-right: 10px;
}

.disabled-link a {
  color: grey;

}
.myProfilemain {
  display: flex;
  justify-content: center;
}
.myProfileBanner {
  display: flex;
  justify-content: center;
  background-image: url('../images/Profile3.jpg');
  background-repeat:no-repeat;
  background-size: contain;
  width: 100%;
  height: 370px;
  justify-content: center;
  align-items: center;
}
.myProfileBanner p{

  color: white;
  font-size: 50px;
  text-transform: uppercase;
  /* text-shadow: 2px 2px #ccc; */

}
.AllprofilesTopBanner {
  display: flex;
  justify-content: center;
  background-image: url('../images/Profile2.jpg');
  background-repeat:no-repeat;
  background-size: contain;
  width: 100%;
  height: 370px;
  justify-content: center;
  align-items: center;
}
.AllprofilesTopBanner p{

  color: white;
  font-size: 50px;
  text-transform: uppercase;
  /* text-shadow: 2px 2px #ccc; */

}
.myProfile {
  width: 100%;
  margin-top: 20px;
  /* padding-top: 70px; */

}
.myProfile2 {
  display: flex;
  width: 75%;
  justify-content: left;
}
.myProfile1 {
  /* width: 50%; */
  text-align: left;
  /* padding-left: 50px; */
}

.secondDiv {
  width:40%;
  text-align: left;
  /* padding-left: 60px; */
  /* vertical-align: center; */
  vertical-align:center;
  position: relative;
}
.mysocialMedia {
  width: 100px;
  display: inline-block;
  display: flex;
  justify-content: space-between;

  vertical-align: center;
  position: absolute;

  width: 100px;
  display: inline-block;
  display: flex;
  justify-content: space-between;

  vertical-align: center;
  position: absolute;
    /* top: 30%; */

    height: 30%;
    width: 50%;

}

.mysocialMedia a {
  font-size: 22px;
  text-decoration: none;

  color:#5aa8b4;
}
.mysocialMedia a:hover {
  color:#dc442d;
}


.secondDiv1 {
  width:30%;
  text-align: left;
  /* padding-left: 70px; */
  /* vertical-align: center; */
  vertical-align:middle;
  position: relative;
}
.mysocialMedia1 {
  width: 100px;
  display: inline-block;
  display: flex;
  justify-content: space-between;

  vertical-align: center;
  position: absolute;
    /* top: 30%; */

    height: 30%;
    width: 50%;
    /* margin: -15% 0 0 -25%; */
}

.mysocialMedia1 a {
  font-size: 22px;
  text-decoration: none;

  color:#5aa8b4;
}
.mysocialMedia1 a:hover {
  color:#dc442d;
}

.disabled-link {
  color: grey;
   pointer-events: none;
}
.Allprofilespage img{
  border-radius: 10%;
  /* height: 100px;
  width: 100px; */

}
#userDet {
  display: inline-block;

}
#userDet p{
  display: inline-block;
  vertical-align: center;
  padding-left: 20px;
  font-size: 18px;
}
.profilesBanner {
  background-image: url('../images/Profile2.jpg');
  background-repeat:no-repeat;
  background-size: contain;
  /* background-size:stretch; */
  margin-top: 20px;
  width: 100%;
  height: 410px;
  display: flex;
  justify-content: center;
  align-items: center;

}
.profilesBanner p{

  color: white;
  font-size: 50px;
  text-transform: uppercase;
  /* text-shadow: 2px 2px #ccc; */

}
