
@import url('https://fonts.googleapis.com/css?family=Montserrat|Open+Sans');

* {
font-family: 'Open Sans', sans-serif;
}
header {
  width: 100%;
  display: flex;
  justify-content: center;
}

.navbar  {
  width: 80%;
  font-size: 20px;
  z-index: 1;
  text-align: left;
  display: flex;
}
.navbar {
  padding-top: 10px;
  padding-bottom: 5px;
}
.navbar a {
  padding-left: 40px;
  text-decoration: none;
  color: black;
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  font-size: 20px;
   align-self: flex-end;
}

.navbar img {
  padding-left: 20px;
  padding-right: 50px;
  width: 9em;
  height:2em;

}

.LoginDet1 {
  display: flex;
  width: 100%;
  justify-content: flex-end;


}
.LoginDet {
  text-align: right;

}
.LoginDet a {
  padding-left: 10px;
  font-size: 16px;
  font-family: 'Montserrat', sans-serif;

}
