/* .App {
  height: 100vh;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}
.clearfix {
  display: inline-block;
}
/* start commented backslash hack \*/
* html .clearfix {
  height: 1%;
}
.clearfix {
  display: block;
}
/* close commented backslash hack */ */


div.stage {
  background: #fff;
  width: 90%;
  margin: 0 auto;
  padding: 20px;
  box-shadow: 0 0 10px #333;
  text-align: center;
}
.App {
  width: 100%;

}
.App1 {


}
.chatBox {
  width: 50%;
  text-align: center;
  margin: 0 auto;
}
ul.chat-logs {
  border: 1px solid #ccc;
  height: 30vh;
  margin-bottom: 10px;
  border-radius: 3px;
  list-style-type: none;
  position: relative;
  overflow: auto;
  text-align: center;
}

ul.chat-logs li {
  padding: 5px 10px;
  display: flex;
  justify-content: space-between;
  font-size: 15px;
  margin: 0;
}
.send {
  margin-left: 10px;
}
ul.chat-logs li span.chat-created-at {
  font-size: 15px;
  color: #999;
}

input.chat-input {
  padding: 10px;
  border: 1px solid #ccc;
  font-size: 16px;
  margin: 0;
  border-radius: 3px;
  width: calc(43% - 22px);
  outline: none;
  margin-bottom: 10px;
}

button.send {
  background: #333;
  color: #fff;
  border: 1px solid #000;
  padding: 10px 20px;
  font-size: 20px;
  border-radius: 3px;
  margin-top: 20px;
}

.App h1 {
  color: #E14D39;
}

.myappBanner {
  display: flex;
  justify-content: center;
  background-image: url('../components/images/Profile4.jpg');
  background-repeat:no-repeat;
  background-size: contain;
  width: 100%;
  height: 370px;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
}
.myappBanner p{

  color: white;
  font-size: 50px;
  text-transform: uppercase;
  /* text-shadow: 2px 2px #ccc; */

}
